#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    margin: 2rem;
    padding: 1rem;
    background-color: beige;
    border: 3px solid black;
    border-radius: 15px;
}

.userCard--list {
    list-style: none;
}

.userCard--list li span {
    font-weight: bold;
}

/*btn*/

.update {
    display: flex;
    justify-content: center;
    align-items: center;
}

#update--btn {
    width: 100px;
    height: 2rem;
    cursor: pointer;
}

#update--btn:hover {
    background-color: rgb(233, 132, 132);
    transition: .3s ease-out;
}